<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home - Append Bootstrap Temlate</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="/static/assets/css/main.css" rel="stylesheet">
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/assets/img/logo.png" alt=""> -->
        <h1 data-aos="fade-up" data-aos-delay="100">Welcome to Our Website</h1>
      </a>

      <!-- Nav Menu -->
      <!-- Nav Menu -->
<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="#home" class="active">Home</a></li>
    <li><a href="#dashboard">Dashboard</a></li>
    <li><a href="#story">Story</a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav><!-- End Nav Menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="home" class="home">

      <img src="/static/assets/img/lance-anderson-z9YAJw0d3Hk-unsplash.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">Airplane Crash Analysis</h2>
            <p data-aos="fade-up" data-aos-delay="200">Analyzing airplane crashes from 1908 to 2009 for deriving valuable insights.</p>
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

    <!-- About Section - Home Page -->
    <section id="dashboard" class="dashboard">

      <div class='tableauPlaceholder' id='viz1687601107733' style='position: relative'>
        <noscript><a href='#'>
        <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pr&#47;projectdashboard_16876010815080&#47;Dashboard1&#47;1_rss.png' style='border: none' />
      </a></noscript>
      <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='projectdashboard_16876010815080&#47;Dashboard1' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;pr&#47;projectdashboard_16876010815080&#47;Dashboard1&#47;1.png' /> 
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' /><param name='language' value='en-US' />
        <param name='filter' value='publish=yes' /></object></div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1687601107733');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 )
         { vizElement.style.width='1000px';vizElement.style.height='827px';} 
        else if ( divElement.offsetWidth > 500 )
         { vizElement.style.width='1000px';vizElement.style.height='827px';} 
         else { vizElement.style.width='100%';vizElement.style.height='1477px';}                    
          var scriptElement = document.createElement('script');                   
           scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
           vizElement.parentNode.insertBefore(scriptElement, vizElement);                
           </script>

    </section><!-- End About Section -->
    <hr width:1px>
    <!-- Services Section - Home Page -->
    <section id="story" class="story">
      <div class='tableauPlaceholder' id='viz1687600549720' style='position: relative'>
        <noscript><a href='#'>
        <img alt='A CENTURY OF AVIATION TRAGEDIES (1908-2009)  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Z8&#47;Z8365PF7S&#47;1_rss.png' style='border: none' />
      </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;Z8365PF7S' />
      <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Z8&#47;Z8365PF7S&#47;1.png' />
      <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' /><param name='language' value='en-US' />
      <param name='filter' value='publish=yes' /></object></div>                
      <script type='text/javascript'>                    
      var divElement = document.getElementById('viz1687600549720');                    
      var vizElement = divElement.getElementsByTagName('object')[0];                    
      vizElement.style.width='869px';vizElement.style.height='662px';                    
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>
    </div>

    </section><!-- End Services Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>